
@font-face {
    font-family: "Streamster";
    src:    url("../fonts/Streamster.ttf") format('embedded-opentype'), /* Internet Explorer */
            url("../fonts/Streamster.ttf") format('woff2'),             /* Super Modern Browsers */
            url("../fonts/Streamster.ttf") format('woff'),              /* Pretty Modern Browsers */
            url("../fonts/Streamster.ttf") format('truetype'),          /* Safari, Android, iOS */
            url("../fonts/Streamster.ttf") format('svg');               /* Legacy iOS */
}

@font-face {
    font-family: "Rocket Rinder";
    src:    url("../fonts/RocketRinder-yV5d.ttf") format('embedded-opentype'), /* Internet Explorer */
            url("../fonts/RocketRinder-yV5d.ttf") format('woff2'),             /* Super Modern Browsers */
            url("../fonts/RocketRinder-yV5d.ttf") format('woff'),              /* Pretty Modern Browsers */
            url("../fonts/RocketRinder-yV5d.ttf") format('truetype'),          /* Safari, Android, iOS */
            url("../fonts/RocketRinder-yV5d.ttf") format('svg');               /* Legacy iOS */
}


html {
    height: 100%;
}

body {
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background: url('../img/metropolis-cropped.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.page-wrapper {
    height: 100vh;
}

span.navbar-brand {
    font-family:        "Streamster";
    font-size:          48px;
    color:              #EA32A0;
    filter:             drop-shadow(-2px -1px 4px #75FFFF80);

    margin-top:     15px;

    transform:          rotate(-12deg);
    -webkit-transform:  rotate(-12deg);                                  /* Safari   */
    -moz-transform:     rotate(-12deg);                                  /* Firefox  */
    -ms-transform:      rotate(-12deg);                                  /* IE       */
    -o-transform:       rotate(-12deg);                                  /* Opera    */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);    /* Internet Explorer */

    user-select: none;              /* Prevent text selection */
    -webkit-touch-callout: none;    /* Disable callout on long-press (iOS) */
}

.navbar-transparent {
    background-color: transparent;
}

div.navbar-nav {
    padding-right: 22px;
}

/* We're using max-width value used by Bootstrap for `breakpoint-lg` */
@media (max-width: 991.98px) {
    .navbar-toggler {
        --bs-navbar-toggler-border-color: var(--bs-border-color);
        /* color: var(--bs-white); */
        .navbar-toggler-icon {
            filter: brightness(10);
        }
    }

    nav.container-fluid {
        position: relative;
        z-index: 1;
    }

    .navbar-collapse {
        position: absolute;
        right: var(--bs-navbar-toggler-padding-x);
        top: calc(100% - 1.5rem);
        z-index: 1;
        text-align: right;
        padding: .75rem 2rem;
        text-align: right;
        background: rgba(0, 0, 0, .9);
        border: var(--bs-border-width) solid var(--bs-border-color);
        border-radius: var(--bs-border-radius-lg);
        transition-property: height, opacity !important;

        .navbar-toggler.collapsed + &.collapsing {
            opacity: 0;
        }

        &.collapse:not(.show) {
            opacity: 0;
            height: 0;
            display: block;
            visibility: hidden;
        }

        .navbar-nav {
            padding: 0;
            margin-right: 0 !important;
        }
    }
}

a.nav-link {
    --bs-navbar-nav-link-padding-x: 22px;

    font-family: "Rocket Rinder";
    font-weight: 400;
    font-size: 32px;
    line-height: 28px;
    
    color: #FFFFFF;
    
    text-shadow: -2px -1px 4px #EA32A0;
    
    user-select: none;              /* Prevent text selection */
    -webkit-touch-callout: none;    /* Disable callout on long-press (iOS) */
}

span.navbar-brand:hover {
    color: #EA32A0;     /* Set the hover color to the same color as the default */
    text-shadow: none;
}

a.nav-link:hover {
    color: #75FFFF;

    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

img[alt=github] {
    width: 35px;
}

img[alt=patreon] {
    width: 35px;
}
