body {
    margin: 0;
    padding: 0;
    background: url('../img/metropolis-cropped.jpg') no-repeat center center fixed;
    background-size: cover;
}

span.navbar-brand {
    font-family:        "Streamster";
    font-size:          48px;
    color:              #EA32A0;
    filter:             drop-shadow(-2px -1px 4px #75FFFF80);

    margin-top: 15px;

    transform:          rotate(-12deg);
    -webkit-transform:  rotate(-12deg);                                  /* Safari   */
    -moz-transform:     rotate(-12deg);                                  /* Firefox  */
    -ms-transform:      rotate(-12deg);                                  /* IE       */
    -o-transform:       rotate(-12deg);                                  /* Opera    */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);   /* Internet Explorer */

    user-select: none;              /* Prevent text selection */
    -webkit-touch-callout: none;    /* Disable callout on long-press (iOS) */
}

.navbar-transparent {
    background-color: transparent;
}

div.navbar-nav {
    padding-right: 22px;
}

a.nav-link {
    --bs-navbar-nav-link-padding-x: 22px;

    font-family: "Rocket Rinder";
    font-weight: 400;
    font-size: 32px;
    line-height: 28px;
    
    color: #FFFFFF;
    
    text-shadow: -2px -1px 4px #EA32A0;
    
    user-select: none;              /* Prevent text selection */
    -webkit-touch-callout: none;    /* Disable callout on long-press (iOS) */
}

span.navbar-brand:hover {
    color: #EA32A0;     /* Set the hover color to the same color as the default */
    text-shadow: none;
}

a.nav-link:hover {
    color: #75FFFF;

    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.vw-window {
    margin-top: 40px;
    /* height: calc(100vh - 45px); */
}

.vw-window-bar {
    border-radius: 10px 10px 0px 0px;
    background-color: #FDFDBD;
    height: 40px;
}

.vw-window-main {
    width: 100%;
    height: 100%;
    background-color: #B8E8FC;
    border-radius: 0 0 10px 10px;
    padding: 10px;
}

.vw-window-content-border {
    width: 100%;
    height: 100%;
    background-color: #B1AFFF;
    padding: 10px;
}

.vw-window-content {
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 10px;
}